/* @group variables */

	$scrollbar--color: #f2f0e6;
	$scrollbar--overflow: 30px;
	$scrollbar--opacity: 0;
	$scrollbar--opacity-hover: 0.5;
	$scrollbar--position: 4px;
	$scrollbar--width: 8px;
	$scrollbar--hitarea: ($scrollbar--width * 0.75) * -1;

/* @end */


/* @group track */

	.scroll__track {
		border-radius: $scrollbar--width;
		position: absolute;
		@include transition(background 200ms);
		z-index: 10;

		.scroll__bar--none & {
			display: none;
		}

		.scroll__bar--y & {
			bottom: $scrollbar--position;
			right: $scrollbar--position;
			top: $scrollbar--position;
			width: $scrollbar--width;
		}
	}

/* @end */


/* @group scrollbar */

	.scroll__bar {
		background-color: $scrollbar--color;
		border-radius: $scrollbar--width;
		@include opacity($scrollbar--opacity);
		position: absolute;
		@include transition(opacity 200ms 50ms);

		&.scroll--hover {
			@include opacity($scrollbar--opacity-hover);
		}

		&:after {
			content: '';
			display: block;
			position: absolute;

			.scroll__bar--y & {
				bottom: 0;
				left: $scrollbar--hitarea;
				right: $scrollbar--hitarea;
				top: 0;
			}
		}

		.scroll__bar--y & {
			width: $scrollbar--width;
		}

		.scroll--scrolling & {
			@include opacity($scrollbar--opacity-hover);
			cursor: pointer;
		}
	}

/* @end */