@import 'compass';
@import 'mixins';
@import 'reset';
@import 'html';
@import 'placeholders';
@import 'scrollbar';


/* @group big container */

	.site__content__wrapper {
		height: 500px;
		margin: 0 auto;
		overflow: hidden;
		position: relative;
		width: 600px;
	}

	.site__content {
		@extend %clearfix;
		background-color: #222;
		bottom: 0;
		color: #999;
		left: 0;
		overflow-x: hidden;
		overflow-y: scroll;
		position: absolute;
		top: 0;
		width: 100%;

		.scroll__bar--y & {
			padding-right: 50px;
			width: 650px;
		}

		a {
			border-bottom-color: #666;
			color: #ccc;
		}
	}

	.inner {
		padding: 30px 20px;
	}

/* @end */