/* http://meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126
	License: none (public domain)
*/
/* line 6, ../src/stylesheets/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../src/stylesheets/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../src/stylesheets/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../src/stylesheets/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../src/stylesheets/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../src/stylesheets/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../src/stylesheets/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../src/stylesheets/_html.scss */
h1, h2, h3 {
  font-family: 'PT Serif', serif;
  margin-bottom: 0.5em;
}

/* line 6, ../src/stylesheets/_html.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../src/stylesheets/_html.scss */
a {
  border-bottom: 1px solid rgba(34, 0, 204, 0.2);
  color: #20c;
  padding-bottom: 2px;
  text-decoration: none;
  -moz-transition: border 200ms;
  -o-transition: border 200ms;
  -webkit-transition: border 200ms;
  transition: border 200ms;
}
/* line 17, ../src/stylesheets/_html.scss */
a:focus, a:hover {
  border-bottom-color: rgba(34, 0, 204, 0.8);
}

/* line 23, ../src/stylesheets/_html.scss */
blockquote {
  font-size: 1.25rem;
  font-style: italic;
  margin: 2em;
  padding: 0 0 0 2em;
  position: relative;
}
/* line 4, ../src/stylesheets/_mixins.scss */
.no-cssremunit blockquote {
  font-size: 20px;
}
/* line 30, ../src/stylesheets/_html.scss */
blockquote:before {
  background-color: #444;
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  width: 3px;
}

/* line 42, ../src/stylesheets/_html.scss */
body {
  background: #fff;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6;
}

/* line 48, ../src/stylesheets/_html.scss */
h1 {
  font-size: 2rem;
}
/* line 4, ../src/stylesheets/_mixins.scss */
.no-cssremunit h1 {
  font-size: 32px;
}

/* line 53, ../src/stylesheets/_html.scss */
h2 {
  font-size: 1.625rem;
}
/* line 4, ../src/stylesheets/_mixins.scss */
.no-cssremunit h2 {
  font-size: 26px;
}

/* line 58, ../src/stylesheets/_html.scss */
h3 {
  font-size: 1.25rem;
}
/* line 4, ../src/stylesheets/_mixins.scss */
.no-cssremunit h3 {
  font-size: 20px;
}

/* line 63, ../src/stylesheets/_html.scss */
main {
  display: block;
}

/* line 67, ../src/stylesheets/_html.scss */
p {
  margin: 0 0 1.5em;
}

/* line 71, ../src/stylesheets/_html.scss */
ol,
ul {
  margin: 0 0 1.5em 2em;
}

/* line 76, ../src/stylesheets/_html.scss */
ol {
  list-style: decimal;
}

/* line 80, ../src/stylesheets/_html.scss */
ul {
  list-style: disc;
}

/* line 2, ../src/stylesheets/_placeholders.scss */
.site__content:after {
  clear: both;
  content: "";
  display: table;
}

/* @group variables */
/* @end */
/* @group track */
/* line 16, ../src/stylesheets/_scrollbar.scss */
.scroll__track {
  border-radius: 8px;
  position: absolute;
  -moz-transition: background 200ms;
  -o-transition: background 200ms;
  -webkit-transition: background 200ms;
  transition: background 200ms;
  z-index: 10;
}
/* line 22, ../src/stylesheets/_scrollbar.scss */
.scroll__bar--none .scroll__track {
  display: none;
}
/* line 26, ../src/stylesheets/_scrollbar.scss */
.scroll__bar--y .scroll__track {
  bottom: 4px;
  right: 4px;
  top: 4px;
  width: 8px;
}

/* @end */
/* @group scrollbar */
/* line 39, ../src/stylesheets/_scrollbar.scss */
.scroll__bar {
  background-color: #f2f0e6;
  border-radius: 8px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 0 ")";
  filter: alpha(opacity=0);
  zoom: 1;
  position: absolute;
  -moz-transition: opacity 200ms 50ms;
  -o-transition: opacity 200ms 50ms;
  -webkit-transition: opacity 200ms;
  -webkit-transition-delay: 50ms;
  transition: opacity 200ms 50ms;
}
/* line 46, ../src/stylesheets/_scrollbar.scss */
.scroll__bar.scroll--hover {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 50 ")";
  filter: alpha(opacity=50);
  zoom: 1;
}
/* line 50, ../src/stylesheets/_scrollbar.scss */
.scroll__bar:after {
  content: '';
  display: block;
  position: absolute;
}
/* line 55, ../src/stylesheets/_scrollbar.scss */
.scroll__bar--y .scroll__bar:after {
  bottom: 0;
  left: -6px;
  right: -6px;
  top: 0;
}
/* line 63, ../src/stylesheets/_scrollbar.scss */
.scroll__bar--y .scroll__bar {
  width: 8px;
}
/* line 67, ../src/stylesheets/_scrollbar.scss */
.scroll--scrolling .scroll__bar {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 50 ")";
  filter: alpha(opacity=50);
  zoom: 1;
  cursor: pointer;
}

/* @end */
/* @group big container */
/* line 11, ../src/stylesheets/app.scss */
.site__content__wrapper {
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 600px;
}

/* line 19, ../src/stylesheets/app.scss */
.site__content {
  background-color: #222;
  bottom: 0;
  color: #999;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 31, ../src/stylesheets/app.scss */
.scroll__bar--y .site__content {
  padding-right: 50px;
  width: 650px;
}
/* line 36, ../src/stylesheets/app.scss */
.site__content a {
  border-bottom-color: #666;
  color: #ccc;
}

/* line 42, ../src/stylesheets/app.scss */
.inner {
  padding: 30px 20px;
}

/* @end */
